* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
}
.card {
  float: left;
  width: 200px;
  height: 300px;
  text-align: center;
  margin: 10px;
}



.price {
  color: blue;
}

